body{
        margin: 0;
        padding: 0;
        background: #e84118;
}
.search-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #2f3640;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
      }

.search-box:hover > .search-txt{
        width: 250px;
        padding: 0 10px;
      }

.search-box:hover > .search-btn{
        background: white;
      }

.search-btn{
        color: #e84118;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
       background-color: #2f3640;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s; 
        color: black;
        cursor: pointer;
}


.search-txt{
        border: none;
        background-color: #2f3640;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
        font-weight: bold;
}
a:hover{
  text-decoration: none;
}